
<header class="container-fluid  cont-top fixed-top">
  <div class="container container_top ">
    <div class="row justify-content-end">
      <div class="header_top_nav col-lg-6 col-md-10 col-sm-12">
        <ul class="nav nav-pills nav-fill  ">
          <li class="nav-item">
            <a routerLink="BodyHome" routerLinkActive="active">Главная</a>

          </li>
          <li class="nav-item">
            <a routerLink="BodyOrder" routerLinkActive="active">Заказ Пиццы</a>

          </li>
          <li class="nav-item">
            <a routerLink="BodyAboutUs" routerLinkActive="active">О нас</a>
          </li>
          <li class="nav-item">
            <a routerLink="BodyContact" routerLinkActive="active">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>



